
    <div class="box-product">
      <div class="title-product">
        <h4> {{cardDetail.name}} - {{cardDetail.category}} </h4>
      </div>
      <div class="describe-product">
        <div class="row list-describe">
          <div class="col-6 d-flex">
            <img src="assets/icon/computer-chip-1.png" alt="">
            <p>{{cardDetail.chip}}</p>
          </div>
          <div class="col-6 d-flex">
            <img src="assets/icon/hard-drive-2.png" alt="">
            <p>{{cardDetail.memory}}</p>
          </div>
          <div class="col-6 d-flex">
            <img src="assets/icon/computer-ram-1.png" alt="">
            <p>{{cardDetail.ram}}</p>
          </div>
          <div class="col-6 d-flex">
            <img src="assets/icon/computer-monitor-svgrepo-com1.png" alt="">
            <p>{{cardDetail.motion}}</p>
          </div>

        </div>
      </div>
    </div>

