<!-- <div class="row rend products g-2">
  <div  class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12"> -->
    <div class="box-product">
      <div class="title-product">
        <h4> {{itemCards.name}} - {{itemCards.category}} </h4>
      </div>
      <div class="describe-product">
        <div class="row list-describe">
          <div class="col-6 d-flex">
            <img src="assets/icon/computer-chip-1.png" alt="">
            <p>{{itemCards.chip}}</p>
          </div>
          <div class="col-6 d-flex">
            <img src="assets/icon/hard-drive-2.png" alt="">
            <p>{{itemCards.memory}}</p>
          </div>
          <div class="col-6 d-flex">
            <img src="assets/icon/computer-ram-1.png" alt="">
            <p>{{itemCards.ram}}</p>
          </div>
          <div class="col-6 d-flex">
            <img src="assets/icon/computer-monitor-svgrepo-com1.png" alt="">
            <p>{{itemCards.motion}}</p>
          </div>

        </div>
      </div>
    </div>
  <!-- </div>
</div> -->
