
  <div class="main-content__left-box">
      <div class="main-content__left-info">
          <table>
              <tbody>
                  <tr>
                      <td>ID:</td>
                      <td class="col-info">0001</td>
                  </tr>
                  <tr>
                      <td>Vnf Provider:</td>
                      <td class="col-info">Viettel</td>
                  </tr>
                  <tr>
                      <td>Vnf Product name:</td>
                      <td class="col-info">vMano</td>
                  </tr>
                  <tr>
                      <td>Software version:</td>
                      <td class="col-info">0.1</td>
                  </tr>
                  <tr>
                      <td>VNFM info:</td>
                      <td class="col-info">VNFM-1, VNFM-2</td>
                  </tr>
                  <tr>
                      <td>Version:</td>
                      <td class="col-info">0.0.1</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="main-content__left-option">
          <div class="option">
              <div class="option-icon option-computer">
                  <img src="../../../assets/icon/desktop-1.png" alt="">
              </div>
              <div class="option-icon option-netwwork">
                  <img src="../../../assets/icon/monitor-network-1.png" alt="">
              </div>
              <div class="option-icon option-picture">
                  <img src="../../../assets/icon/image-01-2.png" alt="">
              </div>
              <div class="option-icon option-user-setting">
                  <img src="../../../assets/icon/settings-user-1.png" alt="">
              </div>
              <div class="option-icon option-setting">
                  <img src="../../../assets/icon/settings-1.png" alt="">
              </div>
          </div>
      </div>
  </div>

