<div id="header">
    <!-- <nav class="nav">
        <div class="container-fluid p-0">
            <div class="row align-items-start">
                <div class="col-4 col-lg-4 d-flex">
                    <div class="nav-menu">
                        <img src="../../../assets/icon/icon-menu.png" alt="">
                    </div>
                    <div class="logo">
                        <img src="../../../assets/icon/logo.png" alt="">
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-end">
                    <div class="notification">
                        <img src="../../../assets/icon/alarm-bell.png" alt="">
                    </div>
                    <div class="info-user">
                        <img src="../../../assets/icon/user.png" alt="">
                        <span>Welcome admin, tungnguyen</span>
                    </div>
                </div>
            </div>
        </div>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-dark nav-custom">
        <div class="container-fluid p-0">
            <a class="navbar-icon-menu" href="#">
                <div class="nav-menu">
                    <img src="../../../assets/icon/icon-menu.png" alt="">
                </div>
            </a>
            <a class="navbar-brand" href="#">
                <div class="logo">
                    <img src="../../../assets/icon/logo.png" alt="">
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <div class="nav-menu">
                    <img src="../../../assets/icon/icon-menu.png" alt="">
                </div>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link  notification p-0" href="#">
                                <img src="../../../assets/icon/alarm-bell.png" alt="">
                        </a>
                        <!-- <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                            <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                        </ul> -->
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle info-user p-0" href="#" data-bs-toggle="dropdown">
                            <img src="../../../assets/icon/user.png" alt="">
                            <span>Welcome admin, tungnguyen</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#" routerLink="/login/"> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>
</div>