<div id="header">
  <div class="nav">
      <div class="container-fluid p-0">
          <div class="row align-items-start">
              <div class="col-4 col-lg-4 d-flex">
                  <div class="nav-menu">
                      <img src="../../../assets/icon/icon-menu.png" alt="">
                  </div>
                  <div class="logo">
                      <img src="../../../assets/icon/logo.png" alt="">
                  </div>
              </div>
              <div class="col-4"></div>
              <div class="col-4 d-flex justify-content-end">
                  <div class="notification">
                      <img src="../../../assets/icon/alarm-bell.png" alt="">
                  </div>
                  <div class="info-user">
                      <img src="../../../assets/icon/user.png" alt="">
                      <span>Welcome admin, tungnguyen</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
