<div class="img-background">
  <app-head></app-head>
  <div class="main-content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col">
                <div class="page-head">
                    <h1>VNFD 1</h1>
                </div>
            </div>
        </div>
        <div class="row align-items-start ">
          <div class="col-lg-3 col-sm-12 position-relative p-lg-0 p-sm-2">
            <app-nav-bar></app-nav-bar>
          </div>
          <div class="col-lg-9 col-sm-12 p-lg-0 p-sm-2">
            <app-content></app-content>
          </div>
        </div>
    </div>
</div>
</div>

